{% extends 'home.html' %}
{% block content %}
{% load static %}
<div class="padding"></div>
        <div class="grid">
            <div class="grid-item">
                <img class="el el-7" src="{% static 'image/grid7.jpg' %}">
                <div>
                    <p class="overlay">School Services, lorem ipsum dolor sit amet consectetur,</p>
                </div>
                    
            </div>
           
            <div class="grid-item">
                <img class="el el-3" src="{% static 'image/grid3.jpg' %}">
                <div>
                    <p class="overlay">ABX interview @ radio</p>
                </div>
            </div>
            <div class="grid-item">
                <img class="el el-4" src="{% static 'image/grid4.jpg' %}">
                <div>
                    <p class="overlay">Services</p>
                </div>
            </div>
            <div class="grid-item">
                <img class="el el-5" src="{% static 'image/grid5.jpg' %}">
                <div>
                    <p class="overlay">Good-deed Association</p>
                </div>
            </div>
            <div class="grid-item">
                <img class="el el-6" src="{% static 'image/grid6.jpg' %}">
                <div>
                    <p class="overlay">School services</p>
                </div>
            </div>
            <div class="grid-item">
                <img class="el el-2" src="{% static 'image/grid2.jpg' %}">
                <div>
                    <p class="overlay">Inaguration</p>
                </div>
            </div>
            
            <div class="grid-item">
                <img class="el el-8" src="{% static 'image/grid8.jpg' %}">
                <div>
                    <p class="overlay">Award function</p>
                </div>
            </div>
        </div>
        {% endblock %}
        <div class="padding"></div>

